<%- include('partials/head') %>

<h1><%= title %></h1>

<ul class="movie-list">
    <% results.movies.forEach(results => { %>
        <li>
            <a href="/movies/<%= results.id %>" class="movie-poster body-petite">
                <%= results.original_title %>
                <img src="https://image.tmdb.org/t/p/w500/<%= results.poster_path %>" alt="Movie poster of <%= results.original_title %>." class="movie-poster__image">
            </a>
        </li>
    <% }) %>
</ul>

<%- include('partials/footer') %>
