<section class="result_single">
    <div > 
        <img alt="Movie poster for <%= results.single_movie['original_title'] %>" src="https://image.tmdb.org/t/p/w500/<%= results.single_movie['backdrop_path'] %>" />
       </div>
    <div class="movie_data">
    <h2> <%= results.single_movie['original_title'] %></h2>
    <p><b>release:</b> <%= results.single_movie['release_date'] %></p>
    <p><b>overview:</b> <%= results.single_movie['overview'] %></p>

    </div>
   
</section>