<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- include ('../partials/searchForm') %>
        <h1>Search</h1>
        <h2> <%= results.original_title %></h2>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>